/* ***** commons ***** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #161E54;
    font-size: 18px;
}

.container {
    text-align: center;
    width: 80%;
    margin: 50px auto;
    padding: 50px 0;
    border-radius: 20px;
}

h1 {
    margin-bottom: 10px;
}

button {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #0A66C2;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 10px;
    transition: all .2s linear;
}

button:hover { 
  background-color: #16437E;
}

button:disabled {
    background-color: #777;
    cursor: not-allowed;
}


/* ***** login ***** */

#email-check {
    background-color: #FF5151;
}


/* ***** dice ***** */

#dice-game {
    background: #88E0EF;
}

.row {
    display: flex;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
}

.dice {
    font-size: 40px;
    margin-top: 20px;
}

#game-result {
    min-height: 40px;
    display: block;
    font-size: 30px;
    margin-top: 10px;
}